---

- alias: "Arriving Home"
  id: c5c5bc9b-4297-4ddd-b789-fb2211d11fab
  trigger:
    trigger: zone
    entity_id:
      - person.yuval
      - person.tohar
    zone: zone.home
    event: enter
  action:
    - action: light.turn_on
      data:
        entity_id: light.yeelight_ceilb_0x179e0932_ambilight
        effect: Stop
        color_temp_kelvin: 4000
    - if:
        condition: template
        value_template: "{{ is_state('cover.living_room_shutter', 'closed') }}"
      then:
        action: cover.open_cover
        data:
          entity_id: cover.living_room_shutter
    - if:
        condition: template
        value_template: "{{ is_state('binary_sensor.day', 'on') }}"
      then:
        action: light.turn_on
        data:
          entity_id:
            - light.yeelight_ceilb_0x179e0932
            - light.kitchen_ceiling_light
            - light.pergola_light
          brightness_pct: 100
    # - if:
    #     condition: template
    #     value_template: "{{ is_state('switch.vent', 'on') }}"
    #   then:
    #     action: switch.turn_off
    #     data:
    #       entity_id: switch.vent
