##################################################
#     Home Assistant Main Configuration File     #
#            Yuval Aboulafia - 202101            #
##################################################

##################################################
#                      CORE                      #
##################################################
# Home Assistant core settings.
homeassistant:
  name: Aboulafia
  latitude: !secret home_lat
  longitude: !secret home_lon
  elevation: !secret elevation
  time_zone: Asia/Jerusalem
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /config

config:
#cloud:
mobile_app:

##################################################
#                       GUI                      #
##################################################
frontend:
  themes: !include_dir_merge_named lovelace/themes
lovelace:
  mode: yaml
  resources: !include lovelace/resources/resources.yaml
map:

##################################################
#                     PERSONS                    #
##################################################
# Connecting device tracker entities to one or more person entities.
person: !include integrations/person.yaml

# Presence detection and tracking.
device_tracker: !include integrations/device_tracker.yaml

##################################################
#                   DISCOVERY                    #
##################################################
discovery:
zeroconf:
ssdp:

##################################################
#                  INTEGRATIONS                  #
##################################################
automation: !include_dir_merge_list automation
binary_sensor: !include_dir_merge_list integrations/binary_sensor
blueprint:
camera: !include integrations/camera.yaml
climate: !include_dir_merge_list integrations/climate
google:
  client_id: !secret google_cal_id
  client_secret: !secret google_cal_secret
group: !include integrations/group.yaml
input_boolean: !include_dir_merge_named integrations/input_boolean
input_datetime: !include_dir_merge_named integrations/input_datetime
input_number:
input_select: !include_dir_merge_named integrations/input_select
jewish_calendar:
  language: hebrew
light: !include integrations/light.yaml
notify: !include integrations/notify.yaml
pi_hole:
  host: !secret nanopi_neo2
  api_key: !secret pi_hole_key
scene: !include_dir_merge_list scene
script: !include_dir_merge_named integrations/script
sensor: !include_dir_merge_list integrations/sensor
speedtestdotnet:
sun:
switch: !include_dir_merge_list integrations/switch
system_health:
timer: !include integrations/timer.yaml
tts:
  - platform: microsoft
    api_key: !secret azure_tts
    language: he-il
    type: HilaNeural
updater:
utility_meter: !include integrations/sensor/utility_meter.yaml
vacuum:
  - platform: xiaomi_miio
    host: !secret vacuum
    token: !secret vacuum_token
zone: !include integrations/zone.yaml

##################################################
#                  LOG COMPONENTS                #
##################################################
history: !include logging/history.yaml
logbook: !include logging/logbook.yaml
recorder: !include logging/recorder.yaml
logger:
  default: warning
system_log:
