---

- alias: "Boiler: Logic Controller"
  id: 4fc58857-73d2-4938-acf8-5952bf3de671
  mode: restart
  trigger:
    - id: 'boiler_on'
      trigger: state
      entity_id: switch.boiler
      to: 'on'
    - id: 'boiler_off'
      trigger: state
      entity_id: switch.boiler
      to: 'off'
    - id: 'timer_finished'
      trigger: event
      event_type: timer.finished
      event_data:
        entity_id: timer.boiler_running
  action:
    - choose:
        - conditions:
            - condition: trigger
              id: 'boiler_on'
          sequence:
            - action: timer.start
              target:
                entity_id: timer.boiler_running
              data:
                duration: >
                  {% set month = now().month %}
                  {% if month >= 11 or month <= 3 %}
                    01:00:00  {# Winter: Nov-Mar = 1 Hour #}
                  {% elif month >= 6 and month <= 9 %}
                    00:30:00  {# Summer: Jun-Sep = 30 Mins #}
                  {% else %}
                    00:45:00  {# Shoulder Season = 45 Mins #}
                  {% endif %}
        - conditions:
            - condition: trigger
              id: 'boiler_off'
          sequence:
            - action: timer.cancel
              target:
                entity_id: timer.boiler_running
        - conditions:
            - condition: trigger
              id: 'timer_finished'
          sequence:
            - action: switch.turn_off
              target:
                entity_id: switch.boiler
            - action: notify.nest_mini
              data:
                message: "הדוד כבה. המים חמים."
