# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!www/community
!www/assets
!www/font_awesome_icons
!custom_components
!esphome/*.yaml

# Ignore folders.
.storage
.cloud
.google.token
.storage
.vscode
tts
deps
glances
www/floor_plan
www/graph

# Ignore files
*.db
*.db-shm
*db-wal
*.txt
*.log
*.token
adb_commands.md
google_calendars.yaml

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
anniversaries.yaml
known_devices.yaml
esphome/secrets.yaml
