# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore

# Ignore folders.
.storage
.cloud
.google.token
.storage
.vscode
deps
tts
assets
image
reolink
zigbee2mqtt/*.json
mosquitto/data
mosquitto/log
zigbee2mqtt/log
unifi-controller/
assist/
__pycache__

# Ignore files
*.db
*.db-shm
*db-wal
*.txt
*.log
*.fault
*.token
*.pickle
.env
.omv_cookies.json
core
*.1
*.tar

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
