---

- alias: "Scheduled Climate"
  id: eb10652e-6276-4c18-b063-d14fc7c2d2cb
  trigger:
    - id: 'on'
      trigger: state
      entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
      to: 'on'
    - id: 'shabbat_morning'
      trigger: time
      at: '10:00:00'
    - id: 'off'
      trigger: time
      at:
        - '21:00:00'
        - '18:00:00'
    - id: 'shabbat_night'
      trigger: time
      at:
        - input_datetime.shabbat_lights_off_time
        - '18:00:00'
  action:
    choose:
      - conditions:
          - condition: trigger
            id: 'on'
          - "{{ is_state('group.person', 'home') }}"
          - "{{ is_state('binary_sensor.jewish_calendar_issur_melacha_in_effect', 'on') }}"
          - condition: numeric_state
            entity_id: sensor.living_room_h_t_temperature
            above: input_number.threshold_climate_temperature
        sequence:
          action: script.turn_on
          data:
            entity_id: script.heat
      - conditions:
          - condition: trigger
            id: 'off'
          - "{{ is_state('binary_sensor.jewish_calendar_issur_melacha_in_effect', 'off') }}"
        sequence:
          action: climate.turn_off
          data:
            entity_id: climate.living_room
      - conditions:
          - condition: trigger
            id: 'shabbat_morning'
          - "{{ is_state('binary_sensor.jewish_calendar_issur_melacha_in_effect', 'on') }}"
        sequence:
          action: script.turn_on
          data:
            entity_id: script.heat
      - conditions:
          - condition: trigger
            id: 'shabbat_night'
          - "{{ is_state('binary_sensor.jewish_calendar_issur_melacha_in_effect', 'on') }}"
        sequence:
          action: climate.turn_off
          data:
            entity_id: climate.living_room

- alias: "Shabbat Night climate automation toggle"
  id: 6fc9b9d3-7069-4a0f-90ae-b2bc9b1ee805
  trigger:
    - id: 'on'
      trigger: state
      entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
      to: 'on'
    - id: 'off'
      trigger: state
      entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
      to: 'off'
  action:
    - choose:
      - conditions:
          - condition: trigger
            id: 'on'
          - "{{ is_state('group.person', 'home') }}"
          - "{{ is_state('input_boolean.night_ac_is_needed', 'on') }}"
        sequence:
          action: automation.turn_on
          data:
            entity_id: automation.climate_shabbat_night_climate
      - conditions:
          - condition: trigger
            id: 'off'
        sequence:
          action: automation.turn_off
          data:
            entity_id: automation.climate_shabbat_night_climate

- alias: "Shabbat Night Climate Alteration"
  id: 8f583c89-8cfa-4aba-be92-cc98d727dcf2
  trigger:
    trigger: time_pattern
    minutes: 45
  condition:
    - condition: time
      after: '01:00:00'
      before: '07:00:00'
    - "{{ is_state('binary_sensor.jewish_calendar_issur_melacha_in_effect', 'on') }}"
    - "{{ is_state('input_boolean.night_ac_is_needed', 'on') }}"
    - "{{ is_state('group.person', 'home') }}"
  action:
    - if:
        condition: state
        entity_id: climate.living_room
        state: 'off'
      then:
        action: script.turn_on
        data:
          entity_id: script.heat
      else:
        action: climate.turn_off
        data:
          entity_id: climate.living_room
