---

- alias: "Climate: Ensuite Heater Manager"
  id: bb829a6e-f2ce-4d09-b7e4-312f8ddd7a89
  mode: restart
  trigger:
    - id: 'morning_start'
      trigger: time
      at: '06:00:00'
    - id: 'safety_cutoff_temp'
      trigger: numeric_state
      entity_id: sensor.ensuite_temperature
      above: 28
    - id: 'safety_cutoff_time'
      trigger: state
      entity_id: switch.ensuite_heater
      to: 'on'
      for: "00:25:00"
  condition:
    - condition: or
      conditions:
        - condition: trigger
          id: 'safety_cutoff_temp'
        - condition: trigger
          id: 'safety_cutoff_time'
        - condition: and
          conditions:
            - condition: state
              entity_id: group.person
              state: 'home'
            - condition: state
              entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
              state: 'off'
  action:
    - choose:
        - conditions:
            - condition: trigger
              id: 'morning_start'
            - condition: numeric_state
              entity_id: sensor.ensuite_temperature
              below: 18
          sequence:
            - action: switch.turn_on
              target:
                entity_id: switch.ensuite_heater
        - conditions:
            - condition: or
              conditions:
                - condition: trigger
                  id: 'safety_cutoff_temp'
                - condition: trigger
                  id: 'safety_cutoff_time'
          sequence:
            - action: switch.turn_off
              target:
                entity_id: switch.ensuite_heater
