---

- alias: "Master Bedroom: Climate & Fan Manager"
  id: 80687afd-c9ef-47b1-80ff-4de14b38ba4d
  mode: restart
  trigger:
    - id: 'morning_heat'
      trigger: time
      at: '06:30:00'
    - id: 'shabbat_nap'
      trigger: time
      at: '12:30:00'
    - id: 'shabbat_night_fan'
      trigger: time
      at: '19:30:00'
    - id: 'shabbat_night_ac'
      trigger: time
      at: '21:00:00'
    - id: 'stop_morning'
      trigger: time
      at: '09:00:00'
    - id: 'stop_afternoon'
      trigger: time
      at: '16:30:00'
  condition:
    - condition: state
      entity_id: group.person
      state: 'home'
    - condition: or
      conditions:
        - condition: and
          conditions:
            - condition: trigger
              id: 'morning_heat'
            - condition: state
              entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
              state: 'off'
        - condition: and
          conditions:
            - condition: trigger
              id: ['shabbat_nap', 'shabbat_night_fan', 'shabbat_night_ac', 'stop_morning', 'stop_afternoon']
            - condition: state
              entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
              state: 'on'
  action:
    - choose:
        - conditions:
            - condition: trigger
              id: ['morning_heat', 'shabbat_nap', 'shabbat_night_ac']
          sequence:
            - choose:
                - conditions:
                    - condition: template
                      value_template: "{{ now().month >= 11 or now().month <= 3 }}"
                  sequence:
                    - action: climate.set_hvac_mode
                      target:
                        entity_id: climate.master_bedroom_ac
                      data:
                        hvac_mode: heat
                    - action: climate.set_temperature
                      target:
                        entity_id: climate.master_bedroom_ac
                      data:
                        temperature: 23
                        hvac_mode: heat
              default:
                - action: climate.set_hvac_mode
                  target:
                    entity_id: climate.master_bedroom_ac
                  data:
                    hvac_mode: cool
                - action: climate.set_temperature
                  target:
                    entity_id: climate.master_bedroom_ac
                  data:
                    temperature: 24 # Standard sleeping temp
                    hvac_mode: cool
            - action: climate.set_fan_mode
              target:
                entity_id: climate.master_bedroom_ac
              data:
                fan_mode: 'medium'
            - delay: "00:00:02"
            - action: switch.turn_on
              target:
                entity_id: switch.master_bedroom_ac_quiet
        - conditions:
            - condition: trigger
              id: 'shabbat_night_fan'
          sequence:
            - action: fan.turn_on
              target:
                entity_id: fan.master_bedroom_fan
              data:
                percentage: 66
        - conditions:
            - condition: trigger
              id: ['stop_morning', 'stop_afternoon']
          sequence:
            - action: climate.turn_off
              target:
                entity_id: climate.master_bedroom_ac
            - action: fan.turn_off
              target:
                entity_id: fan.master_bedroom_fan
            - action: switch.turn_off
              target:
                entity_id: switch.master_bedroom_ac_quiet
