---

- alias: "Button - Turn-on lights"
  id: 44a34975-aa34-4c9c-a8f5-0ccb6d6c3900
  trigger:
    trigger: device
    domain: mqtt
    device_id: 45c6602b986892800c2d5917af458c67
    type: action
    subtype: single
    discovery_id: 0x00158d0006d0a9bd action_single
  action:
    choose:
      - conditions:
        - "{{ is_state('light.yeelight_ceilb_0x179e0932', 'off') }}"
        sequence:
          action: light.turn_on
          data:
            entity_id: light.yeelight_ceilb_0x179e0932
      - conditions:
        - "{{ is_state('light.yeelight_ceilb_0x3154de69', 'off') }}"
        sequence:
          action: light.turn_on
          data:
            entity_id: light.yeelight_ceilb_0x3154de69
