---

- alias: "Yuval has left work"
  description: "Notify at home that Yuval has left work, and arrive in x minutes"
  id: 6e439b47-a790-4b1b-aef3-176b030bb7a5
  trigger:
    - trigger: zone
      entity_id: person.yuval
      zone: zone.hirsh
      event: leave
  condition:
    - condition: state
      entity_id: person.tohar
      state: "home"
    - condition: time
      after: "15:00:00"
      before: "21:00:00"
    - condition: template
      value_template: "{{ states('sensor.yuval_work_to_home') not in ['unknown', 'unavailable', '0'] }}"
  action:
    - action: notify.nest_mini
      data:
        message: "יובל יצא מהעבודה, הוא יגיע בעוד {{ states('sensor.yuval_work_to_home') | float(0) | round(0) }} דקות"
