---

- alias: "Batteries Full"
  id: 7cbcf6ee-ceb0-4190-b1aa-127ec17979df
  trigger:
    - trigger: numeric_state
      entity_id: sensor.yuval_battery_level
      above: 99
      id: 'yuval'
    - trigger: numeric_state
      entity_id: sensor.tohar_battery_level
      above: 99
      id: 'tohar'
  condition:
    - condition: state
      entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
      state: 'off'
    - condition: time
      after: '06:00:00'
      before: '22:00:00'
  action:
    - choose:
        - conditions:
            - condition: trigger
              id: 'yuval'
            - condition: state
              entity_id: person.yuval
              state: 'home'
            - condition: state
              entity_id: binary_sensor.yuval_is_charging
              state: 'on'
          sequence:
            - action: notify.nest_mini
              data:
                message: "יובל, הסוללה מלאה."
        - conditions:
            - condition: trigger
              id: 'tohar'
            - condition: state
              entity_id: person.tohar
              state: 'home'
            - condition: state
              entity_id: binary_sensor.tohar_is_charging
              state: 'on'
          sequence:
            - action: notify.nest_mini
              data:
                message: "טוהר, הסוללה מלאה."
