---

- alias: 'Guest Mode'
  id: db433658-1fd1-45a9-9165-8e05f912920e
  trigger:
    trigger: state
    entity_id: input_boolean.guest_mode
    to: 'on'
  action:
    action: notify.nest_mini
    data:
      message: "Guest Mode has been enabled."
