---

- alias: "Cover: Living Room Shutter Schedule"
  id: 3e52818c-536a-4e9e-b92f-088e60a03070
  mode: restart
  trigger:
    - id: 'weekday_open'
      trigger: time
      at: '06:15:00'
    - id: 'weekday_close'
      trigger: time
      at: '23:00:00'
    - id: 'shabbat_open'
      trigger: time
      at: '08:00:00'
    - id: 'shabbat_close'
      trigger: time
      at: input_datetime.shabbat_lights_off_time
  condition:
    - condition: state
      entity_id: group.person
      state: 'home'
  action:
    - choose:
        - conditions:
            - condition: or
              conditions:
                - condition: and
                  conditions:
                    - condition: trigger
                      id: 'weekday_open'
                    - condition: state
                      entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
                      state: 'off'
                - condition: and
                  conditions:
                    - condition: trigger
                      id: 'shabbat_open'
                    - condition: state
                      entity_id: binary_sensor.jewish_calendar_issur_melacha_in_effect
                      state: 'on'
          sequence:
            - action: cover.open_cover
              target:
                entity_id: cover.living_room_shutter
            - choose:
                - conditions:
                    - condition: trigger
                      id: 'weekday_open'
                    - condition: numeric_state
                      entity_id: sun.sun
                      attribute: elevation
                      below: 5
                  sequence:
                    - action: light.turn_on
                      target:
                        entity_id: light.pergola_light
                    - delay: "00:15:00"
                    - action: light.turn_off
                      target:
                        entity_id: light.pergola_light
        - conditions:
            - condition: or
              conditions:
                - condition: trigger
                  id: 'weekday_close'
                - condition: trigger
                  id: 'shabbat_close'
            - condition: state
              entity_id: input_boolean.guest_mode
              state: 'off'
            - condition: template
              value_template: >
                {{
                    not is_state_attr(
                      'sensor.jewish_calendar_holiday', 'id',
                      ['sukkot', 'hol_hamoed_sukkot', 'hoshana_raba']
                  )
                }}
          sequence:
            - action: cover.close_cover
              target:
                entity_id: cover.living_room_shutter
