---

- alias: "Home Assistant Startup notification"
  id: c1dca5f3-6594-4c78-9681-8e50a1648c30
  trigger:
    trigger: homeassistant
    event: start
  action:
    action: persistent_notification.create
    data_template:
      title: "Home Assistant Startup"
      message: "Home Assistant has started at {{ now().strftime('%m/%d/%Y %H:%M:%S') }}."

- alias: "Home Assistant update available notification"
  id: 52cbbc12-add7-4634-bd64-14888a23f357
  description: "Send a notification when there's an update availiable for Home Assistant"
  trigger:
    trigger: state
    entity_id: binary_sensor.docker_hub_update_available
    to: 'on'
  action:
    action: notify.mobile_app_yuval14
    data:
      title: "Update available"
      message: "Home Assistant {{ states('sensor.docker_hub_version') }} is available"
