---

substitutions:
  name: "washing-machine"
  friendly_name: "Washing Machine"
  room: "Laundry"
  relay_restore_mode: RESTORE_DEFAULT_OFF

packages:
  device_base: !include templates/.athom_plug_base.yaml

wifi:
  use_address: washing-machine-dd774f.local
